form input{
     width:100%;
     height:30px;
     margin:10px;
     padding:0 10px;
     border:1px solid #E6E6F4;
}
form.btn{
     width:100%;
     border:none;
     cursor:pointer;
     margin:8px 0;
}